<a href="/">Back to Home</a>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <video width="320" height="240" controls>
        <source src="{{this.video}}" type="video/mp4">
        </video>
        <h3>{{comments.video}}</h3>
      <h5>{{this.name}}</h5>
      <small>{{this.comment}}</small>
      <h2>{{comments.name}}</h2>
      <p>{{comments.comment}}</p>
    </div>
  </div>
