<!--DISPLAYS posts BASED ON USER INPUT AS WELL AS POST A YOUTUBE LINK-->
<a href="/">Back to Home</a>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <video width="320" height="240" controls>
        <source src="{{this.video}}" type="video/mp4">
        </video>
        <h3>{{posts.video}}</h3>
      <h5>{{this.name}}</h5>
      <small>{{this.comment}}</small>
      <h2>{{posts.name}}</h2>
      <p>{{posts.comment}}</p>
    </div>
  </div>
